
@import "vars";

/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
  .main-menu {
    li {
      margin-right: 30px;

      &.last {
        margin-right: 0;
      }
    }
  }

  .footer {
    .button {
      width: 200px;
    }
  }

  .s-reklama {
    &__ways {
      margin-left: 0;
    }
  }

	.s-etap {
    &__line {
      width: 830px;
      height: 234px;
      right: -10px;
    }

    .etap {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .s-adaptation {
    &__content {
      flex-direction: column;
      align-items: center;
    }

    &__img {
      margin: 0 0 20px;
    }
  }

  .s-difference {
    .difference {
      &__block {
        padding: 20px 10px;
      }

      &__item {
        font-size: 13px;
        letter-spacing: -1px;
      }

      &__plus {
        font-size: 20px;
      }
    }
  }

  .s-thanks {
    margin-top: 85px;
  }
}

// ≥992px
@include media-breakpoint-down(md) {
  .hamburger {
    display: block;
  }    

  .header {
    padding: 5px 0;

    &__top {
      margin-bottom: 0;
    }
  }

  .footer {
    text-align: center;

    &__content {
      flex-direction: column;

      & > * {
          margin: 0 0 20px 0 !important;            
      }
    }
  }

	.main-menu {
    display: none;
    background-color: #fff;
    position: fixed;
    top: 68px;
    left: 0;
    right: 0;
    text-align: left;
    margin-left: 0;
    z-index: 98;
    padding: 10px 0;

		ul {
			display: block;
			height: auto;
      padding: 0;
      margin: 0;

			li {
        margin: 0 0 5px;

        &:last-child {
          margin: 0;
        }
			}
		}
  }    

  .section {
    &-title {
      .break {
        display: inline;
      }
    }
  }

  .s-reviews {
    .review {
      .video__label {
        margin-bottom: 20px;
      }      
    }
  }

  .s-reklama {
    &__ways {
      width: auto;
    }

    .form {
      width: 300px;
    }
  }

  .s-etap {
    &__line {
      display: none;
    }

    .w-100 {
      display: none;
    }
  }

  .s-difference {
    .difference {
      &__text {
        padding: 5px 10px;
        margin-top: 25px;

        &:before {
          display: none;
        }

        &__title {
          display: flex;
          height: 30px;
          top: -30px !important;
          left: 0 !important;
          bottom: auto !important;
        }
      }
    }
  }

  .s-thanks {
    margin-top: 68px;
  }
}

// ≥768px
@include media-breakpoint-down(sm) {  

  .form {
    &__title {
      font-size: 16px !important;
    }

    &--horizontal {
      .form {
        &__content {
          flex-direction: column;
          max-width: 500px;
        } 
        
        &__info {
          max-width: 500px;
        }
      }

      .input-div {
        margin-right: 0;
      }  
    }

    .input-div, .button {
      width: 100%;
    }
  }

  .logo {
    max-width: 200px;
  }

  .header {
    .grow {
      display: block;
    }
  }

  .section {
    &-title {
      font-size: 24px;
      margin-bottom: 30px;
    }      
  }

  .s-main {
    &__title {
      font-size: 24px;
      margin-bottom: 30px;
    }
  }

  .s-reason {
    .reason {
      flex-direction: column;
      margin-bottom: 20px;
      
      img {
        margin: 0 0 10px;
      }
    }
  }

  .s-reklama {
    padding-bottom: 35px;

    &__content {
      display: block;
    }

    &__wrapper {
      margin: 0 0 30px;
    }
  }

  .s-adaptation {
    .form {
      &__content, &__info {
        max-width: 460px;
      }

      .input-div, .button {
        width: 100%;
      }
    }
  }

  .s-difference {
    &__text {
      padding: 0;
    }

    &__banner {
      display: none;
    }

    .difference {
      &__title {
        &.active {
          margin-top: 40px;
        }
      }  
    }
  }

  .s-thanks {
    padding: 40px 0;
  }

}

// ≥576px
@include media-breakpoint-down(xs) {
  .call-me {
    display: flex;
  }

  .break {
    display: inline-block;
  }

  .srok {
    &__title {
      margin-right: 5px;
    }
  }

  .s-reviews {
    .review {
      .video {
        &__label {
          margin-bottom: 0;
          margin-top: 20px;
        }      
      }

      &__block {
        padding-left: 0;
        &:before {
          display: none;
        }
      }

      &__table {
        th {
          text-align: left;
        }
      }

      &__info {
        margin-bottom: 10px;
      }
    }
  }

  .s-portfolio {
    &__group {
      padding-left: 0;
    }

    &__title {
      position: static;
      width: 100%;
      margin-bottom: 10px;
      text-align: center;
    }

    .owl {  
      &-nav {
        position: static;
        margin: 10px auto;
      }

    }
  }

  .s-effect {
    .effect {
      .button {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

  .s-reklama {
    &__text {
      margin-bottom: 20px;
    }

    &__big-text {
      font-size: 17px;
      margin-bottom: 20px;
    }

    &__ways {
      flex-direction: column;
    }

    .way:first-child {
      margin-bottom: 10px;
    }

    .form {
      width: 100%;
    }
  }

  .s-etap {
    &__content {
      flex-direction: column;
    }

    .etap {
      width: 100%;
      flex-direction: row;
      text-align: left;
      align-items: flex-start;
      margin: 0 0 15px;

      &__number {
        width: 20px;
        height: 20px;
        font-size: 16px;
        font-weight: 500;
        flex-shrink: 0;
        margin: 0 10px 0 0;
      }

      &__text {
        flex-grow: 1;
      }
    }
  }

  .s-adaptation {
    .form {
      padding-left: 15px;
      padding-right: 15px;
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  .s-difference {
    .difference {
      &__block {
        &.active {
          margin-top: 20px;
        }
      }  
    }
  }

  .s-contacts {
    .contact {
      position: static;
    }

    .map {
      overflow: hidden;
      margin-left: 15px;
      margin-right: 15px;

      & > ymaps {
        width: auto !important;
        height: 280px !important;
        margin-left: -350px;
      }
    }
  }

  .effect-modal {
    .remodal-close {

      &, &:hover {
        color: #000;
      }
    }

    &__title {
      font-size: 18px;
    }

    &__content {
      flex-direction: column;
    }

    &__form {
      width: 100%;
    }

    .form {
      // margin: 0 auto;
    }
  }

  .portfolio-modal {
    max-width: none;
    padding: 50px 0;
  }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
  
}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {
  .main-menu {
		.container {
			width: auto;
			padding: 0;
		}
  }
}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}