@import './base';

.checkbox-list {
  @include list();

  li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 15px;

    &:before {
      content: "";
      position: absolute;
      top: 1px;
      left: 0;
      width: 15px;
      height: 15px;
      background-image: url('../img/checkbox.jpg');
    }
  }
}

.page-wrapper {
  overflow: hidden;
  min-height: 100vh;
  padding-top: 82px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  letter-spacing: -0.5px;
}

.srok {
  display: flex;
  max-width: 420px;
  align-items: center;
  margin: 10px auto 0;
  
  &__title {
    margin-right: 15px;
  }

  .timer-flipchart-inner {
    font-family: HelveticaNeueCyr, serif;
    font-weight: bold;
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
  padding: 10px 0;
  background-color: rgba(#fff, 1);

  &--scrolled {
    background-color: rgba(#fff, 1);      
    border-bottom: 1px solid $accent;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 30px;
  }

  &__title {
    font-size: 14px;
    font-weight: 500;
  }
  
  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: flex-end;
  }

  &__phone {
    margin-right: 35px;
    a {
      font-weight: 500;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .button {
    max-width: 260px;
    width: 100%;
  }
}

.footer {
  background-color: $black;
  font-size: 16px;

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }

  &__block {
    text-align: center;
  }

  &__title {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__link {
    font-size: 16px;
    color: $accent;
    text-decoration: underline;

    &:hover {
      color: $accent;
    }
  } 

  .button {
    width: 260px;
  }
}

.main-menu {    
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  li {
    margin-right: 50px;
    
    &.last {
      margin-right: 0;
    }
  }

  a {
    display: inline-block;
    line-height: 1.5;
    font-weight: 500;
    text-decoration: none;
    font-weight: normal;
    border-bottom: 1px solid transparent;
    letter-spacing: 0;

    &.link {
      &:hover, &.active {
        border-bottom: 1px solid $accent;
        color: $accent;
      }
    }
  }
}

.section {
  padding: 40px 0 35px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &-title {
    font-size: 30px;
    font-weight: 900;
    color: #2b2a29;
    margin: 0 auto 40px;
    text-align: center;

    .inverse & {
      color: #fff;
    }
  }

  &--gray {
    background-color: #dbdbdb;
  }
}


.s-main {
  padding-top: 68px;
  background-image: url('../img/main-back.jpg');

  &__title {
    font-size: 30px;
    margin: 0 0 100px 0;
    color: #fff;
    text-align: center;
    font-weight: 900;
  }

  .form {
    background-color: rgba(#fff, 0.8);
    max-width: 945px;
    padding: 20px;
    margin: 0 auto;
  }
}

.s-reviews  {

  .review {
    padding: 0 2px;

    .video {
      &__label {
        max-width: 540px;
        position: relative;
      }

      &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: top left;
        background-size: cover;        
      }

      &__play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 66px;
        height: 66px;
        cursor: pointer;
        background-image: url('../img/play.png');
        background-size: 100% 100%;
      }
    }

    video {
      display: block;
      width: 100%;
    }

    &__author {
      font-size: 18px;
      font-weight: 900;
      margin-bottom: 12px;
    }

    &__summary {
      font-size: 16px;
      margin-bottom: 20px;
    }

    &__block {
      padding-left: 50px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        background-image: url("../img/symbol.png");
        background-size: 100% 100%;
        width: 41px;
        height: 41px;
        left: 0px;
        top: 0;
      }
    }

    &__text {
      margin-bottom: 20px;
    }

    &__table {
      width: 100%;
      margin-bottom: 8px;
      border-spacing: 0;
      text-align: center;
      border-collapse: collapse;

      &__title {
        font-weight: 500;
        margin: 20px 0 15px;
      }

      th, td {
        padding: 8px 10px;
        border: 1px solid $accent;
      }
    }

    &__info {
      font-style: italic;
    }
  }
}

.s-work {
  background-image: url("../img/work-back.jpg");

  .work {
    margin-bottom: 20px;
    &__button {
      font-size: 16px;
      font-weight: 500;
      padding: 10px 38px;
      background-color: $accent;
      color: #fff;
      position: relative;
      cursor: pointer;
      &::after {
        content: "";
        position: absolute;
        background-image: url("../img/plus.png");
        top: 50%;
        transform: translateY(-50%);
        right: 8px;
        width: 26px;
        height: 26px;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
    &.active {
      .work__button {
        &::after {
          background-image: url("../img/minus.png");
        }
      }
    }

    &__text {
      padding: 10px 38px;
      background-color: #fff;
      ul {
        padding: 0;
        margin: 0;
        li {
          list-style: none;
        }
      }
    }

    &__list {
      display: flex;
      ul {
        margin-right: 35px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.s-form {
  background-color: #4e4d4d;
}

.s-effect {
  .effect {
    text-align: center;
    margin-bottom: 20px;

    &__image {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin-bottom: 10px;

      img {
        width: 80px;
      }
    }

    &__title {
      font-size: 16px;
      font-weight: 500;
      color: #2b2a29;
      margin-bottom: 10px;
    }
  }
}

.s-portfolio {
  .tab {
    &__links {
      display: flex;
      align-items: flex-end;
    }

    &__link {
      width: 50%;
      height: 40px;
      line-height: 40px;
      cursor: pointer;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      background-color: #fff;

      &:hover {
        background-color: #f5f5f5;
      }

      &.active {
        background-color: $accent;
        color: #fff;
        color: #000;
        cursor: default;
        height: 50px;
        line-height: 50px;
        }
    }

    &__content {
      display: none;
  
      &.active {
        display: block;
      }
    }
  }

  &__group {
    position: relative;
    padding-left: 260px;
    margin-top: 40px;
  }

  &__title {
    position: absolute;
    top: 45px;
    left: 10px;
    width: 260px;
    font-size: 18px;
    font-weight: 500;
  }

  .owl {
    &-item {
      padding: 0 5px 10px;
    }

    &-nav {
      position: absolute;
      bottom: 10px;
      left: -140px;
      width: 110px;
      display: flex;
      justify-content: space-between;
    }

    &-prev, &-next {
      position: static;
      transform: none;
    }
  }

  .portfolio {
    display: inline-block;
    position: relative;
    box-shadow: 0px 4px 6px 0px rgba(113, 113, 113, 0.56);

    &:hover {
      .portfolio__content {
        display: flex;
      }
    }

    &__content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: rgba(#fff, 0.8);
      text-align: center;
    }

    &__title {
      font-size: 20px;
      font-weight: bold;
      max-width: 200px;
      margin-bottom: 10px;
    }

    &__conversion {
      font-weight: 500;
      margin-bottom: 25px;
    }

    .button {
      width: 160px;
    }
  }
}

.s-reason {
  .reason {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    img {
      margin-right: 30px;
    }
  }
}

.s-reklama {
  padding-bottom: 0;
  background-image: url('../img/reklama-back.jpg');

  &__content {
    display: flex;
  }

  &__wrapper {
    margin-right: 30px;
  }

  &__text {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 35px;
  }

  &__big-text {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 35px;
  }

  &__ways {
    width: 500px;
    display: flex;
    margin-left: 60px;
    justify-content: space-between;
  }

  .way {
    text-align: center;

    &__images {
      font-size: 0;
    }

    img {
      margin: 0 5px 15px;
    }

    &__text {
      font-size: 16px;
      font-weight: 500;
    }
  }

  .form {
    background-color: rgba($dark, 0.6);
    max-width: 360px;
    width: 100%;
    flex-shrink: 0;
    padding: 20px 0;
  }
}

.s-etap {
  &__content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 0;
  }

  &__line {
    position: absolute;
    top: 45px;
    right: 0px;
    z-index: -1;
  }

  .w-100 {
    margin: 20px 0;
  }

  .etap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 210px;
    margin: 0 30px 28px;

    &__number {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 95px;
      height: 95px;
      background-color: $accent;
      font-weight: 900;
      font-size: 60px;
      color: #fff;
      margin-bottom: 10px;
    }

    &__text {
      font-size: 16px;
      font-weight: 500;
    }
  }
}

.s-adaptation {
  padding-bottom: 0;

  &__content {
    display: flex;
    align-items: flex-start;
  }

  &__img {
    margin-right: 40px;
  }

  .form {
    background-color: $dark;
    padding: 15px 0;
    margin-top: 35px;

    &__content, &__info {
      max-width: 620px;
    }

    .input-div {
      width: 170px;
      margin-right: 10px;
    }

    .button {
      width: 250px;
      padding-left: 5px;
      padding-right: 5px;      
    }
  }
}

.s-clients {
  background-image: url('../img/clients-back.jpg');

  .client {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 215px;
    width: 100%;
    background-color: #fff;
    box-shadow: 2.5px 4.33px 8.73px 0.27px rgba(30, 30, 30, 0.66);
  }
}

.s-difference {
  &__text {
    position: relative;
    padding-right: 160px;
    padding-left: 120px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
  }

  &__banner {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  .difference {
    &__title {
      font-size: 18px;
      font-weight: 900;
      padding: 9px 15px;
      text-align: center;
      margin-bottom: 25px;
      background-color: #dbdbdb;

      &.active {
        background-color: $accent;
        color: #fff;
      }
    }

    &__text {
      position: relative;
      width: 100%;
      padding: 5px 0;
      margin-bottom: 25px;
      background-color: #ccecf9;

      &:before {
        content: "";
        background-color: #ccecf9;
        position: absolute;
        top: 0;
        left: -40px;
        bottom: 0;
        width: 40px;
      }

      &__title {
        display: none;
        align-items: center;
        justify-content: center;
        width: 110px;
        position: absolute;
        font-size: 18px;
        font-weight: 900;
        color: #fff;
        background-color: $accent;
      }

      &.active {
        .difference__text__title {
          top: 0;
          left: -140px;
          bottom: 0;
          display: flex;
        }
      }
    }

    &__block {
      width: 100%;
      padding: 20px 20px;
      margin-bottom: 10px;
      background-color: #dbdbdb;

      &.active {
        color: #fff;
        background-color: $accent;
      }

      &__title {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
      }

      &__word {
        white-space: nowrap;
        display: block;
        margin-top: 10px;
      }
    }

    &__items {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      margin-bottom: 5px;
    }

    &__plus {
      font-size: 24px;
    }

    &__equal {
      font-size: 24px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 10px;
    }

    &__red {
      text-align: center;
      color: #ca2020;
    }

    &__footer {
      font-size: 16px;
      font-weight: 500;
    }
  }

  ul {
    @include list();
  }
}

.s-contacts {
  padding: 0;
  position: relative;

  .section-title {
    text-align: left;
    margin-bottom: 20px;
  }

  .contact {
    position: absolute;
    top: 50px;
    background-color: rgba(219, 219, 219, 0.9);
    padding: 25px 30px 40px;
    z-index: 5;

    &__item {
      display: flex;
      align-items: center;

      &:nth-child(2) {
        margin-bottom: 30px;
      }
    }

    &__image {
      width: 50px;
      flex-shrink: 0;
    }
  }

  .text-phone {
    display: block;

    &:first-child {
      margin-bottom: 5px;
    }
  }
}

.s-thanks {
  flex-grow: 1;
  margin-top: 81px;
  text-align: center;
  padding: 100px 0;
  background-image: url('../img/thanks-back.jpg');
    
  &__title {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 24px;
    margin: 0 0 100px;
  }

  &__link {
    text-decoration: underline;
    font-size: 18px;
    color: $accent;
  }
}

.zvonok-modal {
  background-color: $dark;
  max-width: 360px;
  color: #fff;
}

.effect-modal {
  padding: 0;
  max-width: 750px;

  &__title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
  }

  &__content {
    display: flex;
  }

  &__text {
    padding: 30px 20px;
  }

  ul {
    @include list();
  }

  &__form {
    width: 275px;
    padding: 60px 10px 50px;
    flex-shrink: 0;
    background-color: $dark;    
  }

  .form {
    &__title {
      font-size: 18px;
    }
  }
}

.politika-modal {
  
  .remodal-close {
    &:before {
      color: #000;
    }
  }

  &__title {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
  }
}

.portfolio-modal {
  padding: 50px 20px;
  
  .remodal-close {
    width: 50px;
    height: 50px;
    
    &:before {
      color: #000;
      font-size: 60px;
      line-height: 50px;
      width: 50px;
    }
  }

  &__loader {
    text-align: center;
  }
}

#test-page {
  .s-main {
    min-height: 520px;
    background-image: url('../img/main-back-1.jpg');
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // align-items: flex-end;
    padding-bottom: 0;

    &__title {
      margin-bottom: 60px;
    }

    &__form {
      background-color: rgba(#fff, 0.7);
      padding: 20px 0 15px;
    }

    .form {
      background: none;
      padding: 0;
    }

    .srok {
      display: block;

      &__title {
        text-align: center;
        font-weight: 500;
        margin-bottom: 15px;
      }
    }
  }
}


@import './_media';